<%-include("partials/header")%>

<div class="container px-5 py-5">
  <p class="lead">Hi, I am Gedela Sachit, a final year undergraduate student pursuing B.Tech in Electrical Engineering from National Institute of Technology, Jamshedpur.
    <br>
    I am a software developer and computer programmer with an avid interest in Data Structure,Algorithms and Optimization.<br>
    As a core programmer, I love taking challenges and love being part of the solution.<br>
    
    I love to code, learn and explore new things - tech related or otherwise, and it brings me immense pleasure to build something from scratch.<br>
    
    In my leisure time I like to play and watch cricket. </p><br>
<p class="lead">You can contact me through these links</p>
<ul>
  <a href="https://www.linkedin.com/in/sachit-gedela-a07a72271/" target="_blank"><li>LinkedIn</li></a>
  <a href="mailto:sachitg1358@gmail.com"><li>Email</li></a>
</ul>
<br>
<br>
</div>

<%-include("partials/footer")%>
