<%-include("partials/header")%>

<div class="container px-5 py-5">
  <p class="lead">Hi, I am Gedela Sachit, a pre-final year student pursuing B.Tech in Electrical Engineering from National Institute of Technology, Jamshedpur.
<br>
I am a Web developer and a Programmer.<br>
I am currently learning the MERN Stack, Data Structures, Algorithms as well as working to sharpen my problem solving skills.<br>

I love to code, learn and explore new things - tech related or otherwise, and it brings me immense pleasure to build something from scratch.<br>

In my leisure time I like to play badminton,cricket,carroms,chess. </p><br>
<p class="lead">You can contact me through these links</p>
<ul>
  <a href="https://www.linkedin.com/in/sachit-gedela-a07a72271/" target="_blank"><li>LinkedIn</li></a>
  <a href="mailto:sachitg1358@gmail.com"><li>Email</li></a>
</ul>
<br>
<br>
</div>

<%-include("partials/footer")%>
