<%-include("partials/header")%>



<div class="container py-5">
	<div class="jumbotron">
	  <h3 class="display-5 text-center">Buy and Sell Used Products Within Your College Campus!</h3>
	  <p class="lead text-center">Find out your college needs and start buying and selling on E-SHOP NIT JSR.</p>
	  <hr class="my-4">
	</div>
</div>


<div class="container px-4 text-center" id="featured-3">
    <h2 class="pb-2 border-bottom display-5">What makes us unique</h2>
		<p class="lead text-center">Student, student and ONLY student. We are dedicated to give that effortless platform where only student RULES.</p>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="">
          <svg class="bi" width="1em" height="1em"><img src="images/feature1.JPG" height="200"></svg>
        </div>
        <h4 class=" py-3">Make deals within your campus</h4>
        <p>You don't need to go far from your college campus. Ab Campus Me Bikega</p>

      </div>
      <div class="feature col">
        <div class="">
          <svg class="bi" width="1em" height="1em"><img src="images/feature3.JPG" height="200"></svg>
        </div>
        <h4 class="py-3">Trusted Purchase</h4>
        <p>Awesome! You are dealing with your college mate or any other near you.</p>

      </div>
      <div class="feature col">
        <div class="">
          <svg class="bi" width="1em" height="1em"><img src="images/feature2.JPG" height="200"></svg>
        </div>
        <h4 class="py-3">Advertise Products in a Ad.</h4>
        <p>You have books, notes, stationery, bikes to sell. Don't worry you can add these all items in a Ad.</p>

      </div>
    </div>

		<p class="lead">
	    <a class="btn btn-primary btn-lg" href="/category/All" role="button">Go to products section</a>
	  </p>
  </div>


<%-include("partials/footer")%>
