<%-include("partials/header")%>

<div class="container px-5 py-3">
  <div class="jumbotron">
  <h1 class="display-5">E-SHOP || Find Used products list in your college campus</h1>
  <p class="lead">Easily post a free ad in your college campus and browse to buy used products.</p>
  <hr class="my-4">


  <h3 class="display-5 py-3">1st STEP</h3>
  <p class="lead">I am a seller and I want to list my used items</p>
  <ul class="lead">
    <li>A list of used products</li>
    <li>Can easily add and delete list</li>
    <li>Prefer to sell in campus</li>
  </ul>
  <p class="lead">I am a buyer and I want to browse through listed Ads</p>
  <ul class="lead">
    <li>Looking for someone who has listed my needs. I can easily browse it on my computer or smartphone.</li>
  </ul>

  <h3 class="display-5 py-3">2nd STEP</h3>
  <p class="lead">Waiting for Buyer</p>
  <ul class="lead">
    <li>I will get an email for any reply or message</li>
  </ul>
  <p class="lead">Yes, I get this list</p>
  <ul class="lead">
    <li>I can contact the seller via Email or phone</li>
  </ul>

  <h3 class="display-5 py-3">3rd STEP</h3>
  <p class="lead">Meet in campus and make the transaction</p>
  <ul class="lead">
    <li>Collect the items and pay for it.</li>
  </ul>


  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/category/All" role="button">Go to products section</a>
  </p>
</div>
</div>


<%-include("partials/footer")%>
